{% extends 'layout/layout.html' %}

{% block content %}
    <div class="text-center mt-2">
        <h1>Alerta Productos Mínimo</h1>
    </div>
    <hr>
    <div class="row mt-3 table-productos">
        <div class="col-sm-12 text-danger">
            <h3>Productos por debajo del mínimo</h3>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Producto</th>
                        <th scope="col">Nombre Producto</th>
                        <th scope="col">Cantidad Mínima</th>
                        <th scope="col">Cantidad Actual</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in datos %}
                    <tr>
                        <td>
                            <div>
                                <img src="{{ url_for('static', filename='img/motor.jpg') }}" alt="">
                            </div>
                        </td>
                        <td>{{ product.1}}</td>
                        <td>{{ product.3 }}</td>
                        <td>{{ product.4 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row mt-3 table-productos">
        <div class="col-sm-12 text-warning">
            <h3>Productos cerca del mínimo</h3>
        </div>
        <div class="col-sm-12">
            
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Producto</th>
                        <th scope="col">Nombre Producto</th>
                        <th scope="col">Mínimo</th>
                        <th scope="col">Cantidad Actual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <div>
                                <img src="{{ url_for('static', filename='img/motor.jpg') }}" alt="">
                            </div>
                        </th>
                        <td>motor1</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div>
                                <img src="{{ url_for('static', filename='img/motor2.jpg') }}" alt="">
                            </div>
                        </th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div>
                                <img src="{{ url_for('static', filename='img/motor3.jpg') }}" alt="">
                            </div>
                        </th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block finalScript %}
    <script>
        let btns = document.querySelectorAll(".buttons");
        btns.forEach(btn => {
            btn => btn.classList.remove('active');
        });
        btns[0].classList.add('active');
        
    </script>
{% endblock %}